# Pipe Schedules

In [1]:
from IPython.display import display, Markdown
import pandas as pd
from fluids.piping import schedule_lookup
dat = schedule_lookup['40']

In [2]:
for name, values in schedule_lookup.items():

    display(Markdown("## Schedule %s" %(name)))
    to_df = {'NPS, dimensionless': values[0],
          'Inner diameter, mm': values[1], 'Outer diameter, mm': values[2], 'Thickness, mm': values[3]}
    display(pd.DataFrame(to_df))

## Schedule 40

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125                6.84                10.3           1.73
1                0.250                9.22                13.7           2.24
2                0.375               12.48                17.1           2.31
3                0.500               15.76                21.3           2.77
4                0.750               20.96                26.7           2.87
5                1.000               26.64                33.4           3.38
6                1.250               35.08                42.2           3.56
7                1.500               40.94                48.3           3.68
8                2.000               52.48                60.3           3.91
9                2.500               62.68                73.0           5.16
10               3.000               77.92                88.9           5.49
11               3.500               90.12               101.6           5.74
12               4.000              102.26               114.3           6.02
13               5.000              128.20               141.3           6.55
14               6.000              154.08               168.3           7.11
15               8.000              202.74               219.1           8.18
16              10.000              254.46               273.0           9.27
17              12.000              303.18               323.8          10.31
18              14.000              333.34               355.6          11.13
19              16.000              381.00               406.4          12.70
20              18.000              428.46               457.0          14.27
21              20.000              477.82               508.0          15.09
22              24.000              575.04               610.0          17.48
23              32.000              778.04               813.0          17.48
24              34.000              829.04               864.0          17.48
25              36.000              875.90               914.0          19.05

## Schedule 5

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50               18.00                21.3           1.65
1                 0.75               23.40                26.7           1.65
2                 1.00               30.10                33.4           1.65
3                 1.25               38.90                42.2           1.65
4                 1.50               45.00                48.3           1.65
5                 2.00               57.00                60.3           1.65
6                 2.50               68.78                73.0           2.11
7                 3.00               84.68                88.9           2.11
8                 3.50               97.38               101.6           2.11
9                 4.00              110.08               114.3           2.11
10                5.00              135.76               141.3           2.77
11                6.00              162.76               168.3           2.77
12                8.00              213.56               219.1           2.77
13               10.00              266.20               273.0           3.40
14               12.00              315.88               323.8           3.96
15               14.00              347.68               355.6           3.96
16               16.00              398.02               406.4           4.19
17               18.00              448.62               457.0           4.19
18               20.00              498.44               508.0           4.78
19               22.00              549.44               559.0           4.78
20               24.00              598.92               610.0           5.54
21               30.00              749.30               762.0           6.35

## Schedule 10

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125                7.82                10.3           1.24
1                0.250               10.40                13.7           1.65
2                0.375               13.80                17.1           1.65
3                0.500               17.08                21.3           2.11
4                0.750               22.48                26.7           2.11
5                1.000               27.86                33.4           2.77
6                1.250               36.66                42.2           2.77
7                1.500               42.76                48.3           2.77
8                2.000               54.76                60.3           2.77
9                2.500               66.90                73.0           3.05
10               3.000               82.80                88.9           3.05
11               3.500               95.50               101.6           3.05
12               4.000              108.20               114.3           3.05
13               5.000              134.50               141.3           3.40
14               6.000              161.50               168.3           3.40
15               8.000              211.58               219.1           3.76
16              10.000              264.62               273.0           4.19
17              12.000              314.66               323.8           4.57
18              14.000              342.90               355.6           6.35
19              16.000              393.70               406.4           6.35
20              18.000              444.30               457.0           6.35
21              20.000              495.30               508.0           6.35
22              22.000              546.30               559.0           6.35
23              24.000              597.30               610.0           6.35
24              26.000              644.16               660.0           7.92
25              28.000              695.16               711.0           7.92
26              30.000              746.16               762.0           7.92
27              32.000              797.16               813.0           7.92
28              34.000              848.16               864.0           7.92
29              36.000              898.16               914.0           7.92

## Schedule 20

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                    8              206.40               219.1           6.35
1                   10              260.30               273.0           6.35
2                   12              311.10               323.8           6.35
3                   14              339.76               355.6           7.92
4                   16              390.56               406.4           7.92
5                   18              441.16               457.0           7.92
6                   20              488.94               508.0           9.53
7                   22              539.94               559.0           9.53
8                   24              590.94               610.0           9.53
9                   26              634.60               660.0          12.70
10                  28              685.60               711.0          12.70
11                  30              736.60               762.0          12.70
12                  32              787.60               813.0          12.70
13                  34              838.60               864.0          12.70
14                  36              888.60               914.0          12.70

## Schedule 30

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125                7.40                10.3           1.45
1                0.250               10.00                13.7           1.85
2                0.375               13.40                17.1           1.85
3                0.500               16.48                21.3           2.41
4                0.750               21.88                26.7           2.41
5                1.000               27.60                33.4           2.90
6                1.250               36.26                42.2           2.97
7                1.500               41.94                48.3           3.18
8                2.000               53.94                60.3           3.18
9                2.500               63.44                73.0           4.78
10               3.000               79.34                88.9           4.78
11               3.500               92.04               101.6           4.78
12               4.000              104.74               114.3           4.78
13               8.000              205.02               219.1           7.04
14              10.000              257.40               273.0           7.80
15              12.000              307.04               323.8           8.38
16              14.000              336.54               355.6           9.53
17              16.000              387.34               406.4           9.53
18              18.000              434.74               457.0          11.13
19              20.000              482.60               508.0          12.70
20              22.000              533.60               559.0          12.70
21              24.000              581.46               610.0          14.27
22              28.000              679.24               711.0          15.88
23              30.000              730.24               762.0          15.88
24              32.000              781.24               813.0          15.88
25              34.000              832.24               864.0          15.88
26              36.000              882.24               914.0          15.88

## Schedule 60

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   8              198.48               219.1          10.31
1                  10              247.60               273.0          12.70
2                  12              295.26               323.8          14.27
3                  14              325.42               355.6          15.09
4                  16              373.08               406.4          16.66
5                  18              418.90               457.0          19.05
6                  20              466.76               508.0          20.62
7                  22              514.54               559.0          22.23
8                  24              560.78               610.0          24.61

## Schedule 80

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125                5.48                10.3           2.41
1                0.250                7.66                13.7           3.02
2                0.375               10.70                17.1           3.20
3                0.500               13.84                21.3           3.73
4                0.750               18.88                26.7           3.91
5                1.000               24.30                33.4           4.55
6                1.250               32.50                42.2           4.85
7                1.500               38.14                48.3           5.08
8                2.000               49.22                60.3           5.54
9                2.500               58.98                73.0           7.01
10               3.000               73.66                88.9           7.62
11               3.500               85.44               101.6           8.08
12               4.000               97.18               114.3           8.56
13               5.000              122.24               141.3           9.53
14               6.000              146.36               168.3          10.97
15               8.000              193.70               219.1          12.70
16              10.000              242.82               273.0          15.09
17              12.000              288.84               323.8          17.48
18              14.000              317.50               355.6          19.05
19              16.000              363.52               406.4          21.44
20              18.000              409.34               457.0          23.83
21              20.000              455.62               508.0          26.19
22              22.000              501.84               559.0          28.58
23              24.000              548.08               610.0          30.96

## Schedule 100

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   8              188.92               219.1          15.09
1                  10              236.48               273.0          18.26
2                  12              280.92               323.8          21.44
3                  14              307.94               355.6          23.83
4                  16              354.02               406.4          26.19
5                  18              398.28               457.0          29.36
6                  20              442.92               508.0          32.54
7                  22              489.14               559.0          34.93
8                  24              532.22               610.0          38.89

## Schedule 120

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                    4               92.04               114.3          11.13
1                    5              115.90               141.3          12.70
2                    6              139.76               168.3          14.27
3                    8              182.58               219.1          18.26
4                   10              230.12               273.0          21.44
5                   12              273.00               323.8          25.40
6                   14              300.02               355.6          27.79
7                   16              344.48               406.4          30.96
8                   18              387.14               457.0          34.93
9                   20              431.80               508.0          38.10
10                  22              476.44               559.0          41.28
11                  24              517.96               610.0          46.02

## Schedule 140

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   8              177.86               219.1          20.62
1                  10              222.20               273.0          25.40
2                  12              266.64               323.8          28.58
3                  14              292.10               355.6          31.75
4                  16              333.34               406.4          36.53
5                  18              377.66               457.0          39.67
6                  20              419.10               508.0          44.45
7                  22              463.74               559.0          47.63
8                  24              505.26               610.0          52.37

## Schedule 160

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50               11.74                21.3           4.78
1                 0.75               15.58                26.7           5.56
2                 1.00               20.70                33.4           6.35
3                 1.25               29.50                42.2           6.35
4                 1.50               34.02                48.3           7.14
5                 2.00               42.82                60.3           8.74
6                 2.50               53.94                73.0           9.53
7                 3.00               66.64                88.9          11.13
8                 4.00               87.32               114.3          13.49
9                 5.00              109.54               141.3          15.88
10                6.00              131.78               168.3          18.26
11                8.00              173.08               219.1          23.01
12               10.00              215.84               273.0          28.58
13               12.00              257.16               323.8          33.32
14               14.00              284.18               355.6          35.71
15               16.00              325.42               406.4          40.49
16               18.00              366.52               457.0          45.24
17               20.00              407.98               508.0          50.01
18               22.00              451.04               559.0          53.98
19               24.00              490.92               610.0          59.54

## Schedule STD

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125                6.84                10.3           1.73
1                0.250                9.22                13.7           2.24
2                0.375               12.48                17.1           2.31
3                0.500               15.76                21.3           2.77
4                0.750               20.96                26.7           2.87
5                1.000               26.64                33.4           3.38
6                1.250               35.08                42.2           3.56
7                1.500               40.94                48.3           3.68
8                2.000               52.48                60.3           3.91
9                2.500               62.68                73.0           5.16
10               3.000               77.92                88.9           5.49
11               3.500               90.12               101.6           5.74
12               4.000              102.26               114.3           6.02
13               5.000              128.20               141.3           6.55
14               6.000              154.08               168.3           7.11
15               8.000              202.74               219.1           8.18
16              10.000              254.46               273.0           9.27
17              12.000              304.74               323.8           9.53
18              14.000              336.54               355.6           9.53
19              16.000              387.34               406.4           9.53
20              18.000              437.94               457.0           9.53
21              20.000              488.94               508.0           9.53
22              22.000              539.94               559.0           9.53
23              24.000              590.94               610.0           9.53
24              26.000              640.94               660.0           9.53
25              28.000              691.94               711.0           9.53
26              30.000              742.94               762.0           9.53
27              32.000              793.94               813.0           9.53
28              34.000              844.94               864.0           9.53
29              36.000              894.94               914.0           9.53
30              38.000              945.94               965.0           9.53
31              40.000              996.94              1016.0           9.53
32              42.000             1047.94              1067.0           9.53
33              44.000             1098.94              1118.0           9.53
34              46.000             1148.94              1168.0           9.53
35              48.000             1199.94              1219.0           9.53

## Schedule XS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125                5.48                10.3           2.41
1                0.250                7.66                13.7           3.02
2                0.375               10.70                17.1           3.20
3                0.500               13.84                21.3           3.73
4                0.750               18.88                26.7           3.91
5                1.000               24.30                33.4           4.55
6                1.250               32.50                42.2           4.85
7                1.500               38.14                48.3           5.08
8                2.000               49.22                60.3           5.54
9                2.500               58.98                73.0           7.01
10               3.000               73.66                88.9           7.62
11               3.500               85.44               101.6           8.08
12               4.000               97.18               114.3           8.56
13               5.000              122.24               141.3           9.53
14               6.000              146.36               168.3          10.97
15               8.000              193.70               219.1          12.70
16              10.000              247.60               273.0          12.70
17              12.000              298.40               323.8          12.70
18              14.000              330.20               355.6          12.70
19              16.000              381.00               406.4          12.70
20              18.000              431.60               457.0          12.70
21              20.000              482.60               508.0          12.70
22              22.000              533.60               559.0          12.70
23              24.000              584.60               610.0          12.70
24              26.000              634.60               660.0          12.70
25              28.000              685.60               711.0          12.70
26              30.000              736.60               762.0          12.70
27              32.000              787.60               813.0          12.70
28              34.000              838.60               864.0          12.70
29              36.000              888.60               914.0          12.70
30              38.000              939.60               965.0          12.70
31              40.000              990.60              1016.0          12.70
32              42.000             1041.60              1067.0          12.70
33              44.000             1092.60              1118.0          12.70
34              46.000             1142.60              1168.0          12.70
35              48.000             1193.60              1219.0          12.70

## Schedule XXS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50                6.36                21.3           7.47
1                 0.75               11.06                26.7           7.82
2                 1.00               15.22                33.4           9.09
3                 1.25               22.80                42.2           9.70
4                 1.50               28.00                48.3          10.15
5                 2.00               38.16                60.3          11.07
6                 2.50               44.96                73.0          14.02
7                 3.00               58.42                88.9          15.24
8                 4.00               80.06               114.3          17.12
9                 5.00              103.20               141.3          19.05
10                6.00              124.40               168.3          21.95
11                8.00              174.64               219.1          22.23
12               10.00              222.20               273.0          25.40
13               12.00              273.00               323.8          25.40

## Schedule 5S

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50               18.00                21.3           1.65
1                 0.75               23.40                26.7           1.65
2                 1.00               30.10                33.4           1.65
3                 1.25               38.90                42.2           1.65
4                 1.50               45.00                48.3           1.65
5                 2.00               57.00                60.3           1.65
6                 2.50               68.78                73.0           2.11
7                 3.00               84.68                88.9           2.11
8                 3.50               97.38               101.6           2.11
9                 4.00              110.08               114.3           2.11
10                5.00              135.76               141.3           2.77
11                6.00              162.76               168.3           2.77
12                8.00              213.56               219.1           2.77
13               10.00              266.30               273.1           3.40
14               12.00              315.98               323.9           3.96
15               14.00              347.68               355.6           3.96
16               16.00              398.02               406.4           4.19
17               18.00              448.62               457.0           4.19
18               20.00              498.44               508.0           4.78
19               22.00              549.44               559.0           4.78
20               24.00              598.92               610.0           5.54
21               30.00              749.30               762.0           6.35

## Schedule 10S

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125                7.82                10.3           1.24
1                0.250               10.40                13.7           1.65
2                0.375               13.80                17.1           1.65
3                0.500               17.08                21.3           2.11
4                0.750               22.48                26.7           2.11
5                1.000               27.86                33.4           2.77
6                1.250               36.66                42.2           2.77
7                1.500               42.76                48.3           2.77
8                2.000               54.76                60.3           2.77
9                2.500               66.90                73.0           3.05
10               3.000               82.80                88.9           3.05
11               3.500               95.50               101.6           3.05
12               4.000              108.20               114.3           3.05
13               5.000              134.50               141.3           3.40
14               6.000              161.50               168.3           3.40
15               8.000              211.58               219.1           3.76
16              10.000              264.72               273.1           4.19
17              12.000              314.76               323.9           4.57
18              14.000              346.04               355.6           4.78
19              16.000              396.84               406.4           4.78
20              18.000              447.44               457.0           4.78
21              20.000              496.92               508.0           5.54
22              22.000              547.92               559.0           5.54
23              24.000              597.30               610.0           6.35
24              30.000              746.16               762.0           7.92

## Schedule 40S

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125                6.84                10.3           1.73
1                0.250                9.22                13.7           2.24
2                0.375               12.48                17.1           2.31
3                0.500               15.76                21.3           2.77
4                0.750               20.96                26.7           2.87
5                1.000               26.64                33.4           3.38
6                1.250               35.08                42.2           3.56
7                1.500               40.94                48.3           3.68
8                2.000               52.48                60.3           3.91
9                2.500               62.68                73.0           5.16
10               3.000               77.92                88.9           5.49
11               3.500               90.12               101.6           5.74
12               4.000              102.26               114.3           6.02
13               5.000              128.20               141.3           6.55
14               6.000              154.08               168.3           7.11
15               8.000              202.74               219.1           8.18
16              10.000              254.56               273.1           9.27
17              12.000              304.84               323.9           9.53
18              14.000              336.54               355.6           9.53
19              16.000              387.34               406.4           9.53
20              18.000              437.94               457.0           9.53
21              20.000              488.94               508.0           9.53
22              24.000              590.94               610.0           9.53

## Schedule 80S

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125                5.48                10.3           2.41
1                0.250                7.66                13.7           3.02
2                0.375               10.70                17.1           3.20
3                0.500               13.84                21.3           3.73
4                0.750               18.88                26.7           3.91
5                1.000               24.30                33.4           4.55
6                1.250               32.50                42.2           4.85
7                1.500               38.14                48.3           5.08
8                2.000               49.22                60.3           5.54
9                2.500               58.98                73.0           7.01
10               3.000               73.66                88.9           7.62
11               3.500               85.44               101.6           8.08
12               4.000               97.18               114.3           8.56
13               5.000              122.24               141.3           9.53
14               6.000              146.36               168.3          10.97
15               8.000              193.70               219.1          12.70
16              10.000              247.70               273.1          12.70
17              12.000              298.50               323.9          12.70
18              14.000              330.20               355.6          12.70
19              16.000              381.00               406.4          12.70
20              18.000              431.60               457.0          12.70
21              20.000              482.60               508.0          12.70
22              24.000              584.60               610.0          12.70

## Schedule 40D1527

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125              6.8326             10.2870         1.7272
1                0.250              9.2456             13.7160         2.2352
2                0.375             12.5222             17.1450         2.3114
3                0.500             15.7988             21.3360         2.7686
4                0.750             20.9296             26.6700         2.8702
5                1.000             26.6446             33.4010         3.3782
6                1.250             33.5280             40.6400         3.5560
7                1.500             40.8940             48.2600         3.6830
8                2.000             52.5018             60.3250         3.9116
9                2.500             62.7126             73.0250         5.1562
10               3.000             77.9272             88.9000         5.4864
11               3.500             90.1192            101.6000         5.7404
12               4.000            102.2604            114.3000         6.0198
13               5.000            128.1938            141.3002         6.5532
14               6.000            154.0510            168.2750         7.1120
15               8.000            202.7174            219.0750         8.1788
16              10.000            254.5080            273.0500         9.2710
17              12.000            303.2252            323.8500        10.3124

## Schedule 80D1527

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125              5.4610             10.2870         2.4130
1                0.250              7.6708             13.7160         3.0226
2                0.375             10.7442             17.1450         3.2004
3                0.500             13.8684             21.3360         3.7338
4                0.750             18.8468             26.6700         3.9116
5                1.000             24.3078             33.4010         4.5466
6                1.250             30.9372             40.6400         4.8514
7                1.500             38.1000             48.2600         5.0800
8                2.000             49.2506             60.3250         5.5372
9                2.500             59.0042             73.0250         7.0104
10               3.000             73.6600             88.9000         7.6200
11               3.500             85.4456            101.6000         8.0772
12               4.000             97.1804            114.3000         8.5598
13               5.000            122.2502            141.3002         9.5250
14               6.000            146.3294            168.2750        10.9728
15               8.000            193.6750            219.0750        12.7000
16              10.000            242.9256            273.0500        15.0622
17              12.000            288.9504            323.8500        17.4498

## Schedule ABSD2680

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   8              196.85             239.014         21.082
1                  10              247.65             298.450         25.400
2                  12              298.45             357.378         29.464
3                  15              374.65             447.548         36.449

## Schedule PVCD2680

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   8              196.85             239.014         21.082
1                  10              247.65             298.450         25.400
2                  12              298.45             357.378         29.464
3                  15              374.65             447.548         36.449

## Schedule DR25C900

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   4              112.14               121.9           4.88
1                   6              161.28               175.3           7.01
2                   8              211.52               229.9           9.19
3                  10              259.34               281.9          11.28
4                  12              308.48               335.3          13.41

## Schedule DR18C900

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   4              108.34               121.9           6.78
1                   6              155.84               175.3           9.73
2                   8              204.34               229.9          12.78
3                  10              250.56               281.9          15.67
4                  12              298.06               335.3          18.62

## Schedule DR14C900

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   4              104.48               121.9           8.71
1                   6              150.26               175.3          12.52
2                   8              197.08               229.9          16.41
3                  10              241.62               281.9          20.14
4                  12              287.40               335.3          23.95

## Schedule CIDR51C905

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  18              475.90               495.3           9.70
1                  20              527.06               548.6          10.77
2                  24              629.60               655.3          12.85
3                  30              780.94               812.8          15.93
4                  36              934.64               972.8          19.08
5                  42             1086.00              1130.3          22.15
6                  48             1239.70              1290.3          25.30

## Schedule CIDR41C905

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  14              369.66               388.6           9.47
1                  16              420.46               442.0          10.77
2                  18              471.12               495.3          12.09
3                  20              521.82               548.6          13.39
4                  24              623.34               655.3          15.98
5                  30              773.18               812.8          19.81
6                  36              925.36               972.8          23.72
7                  42             1075.18              1130.3          27.56
8                  48             1227.36              1290.3          31.47

## Schedule CIDR325C905

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  14              364.68               388.6          11.96
1                  16              414.82               442.0          13.59
2                  18              464.82               495.3          15.24
3                  20              514.82               548.6          16.89
4                  24              614.96               655.3          20.17
5                  30              762.76               812.8          25.02
6                  36              912.96               972.8          29.92
7                  42             1060.76              1130.3          34.77
8                  48             1210.90              1290.3          39.70

## Schedule CIDR25C905

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  14              357.52               388.6          15.54
1                  16              406.64               442.0          17.68
2                  18              455.68               495.3          19.81
3                  20              504.70               548.6          21.95
4                  24              602.88               655.3          26.21
5                  30              747.78               812.8          32.51
6                  36              894.98               972.8          38.91
7                  42             1039.88              1130.3          45.21
8                  48             1187.08              1290.3          51.61

## Schedule CIDR21C905

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  14              351.58               388.6          18.51
1                  16              399.90               442.0          21.05
2                  18              448.10               495.3          23.60
3                  20              496.32               548.6          26.14
4                  24              592.86               655.3          31.22
5                  30              735.38               812.8          38.71
6                  36              880.14               972.8          46.33

## Schedule CIDR18C905

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  14              345.42               388.6          21.59
1                  16              392.88               442.0          24.56
2                  18              440.28               495.3          27.51
3                  20              487.64               548.6          30.48
4                  24              582.50               655.3          36.40
5                  30              722.48               812.8          45.16

## Schedule CIDR14C905

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  14              333.08               388.6          27.76
1                  16              378.86               442.0          31.57
2                  18              424.54               495.3          35.38

## Schedule IPSDR21

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  14              321.76               355.6          16.92
1                  16              367.70               406.4          19.35
2                  18              413.66               457.2          21.77
3                  20              459.64               508.0          24.18
4                  24              551.54               609.6          29.03
5                  30              689.46               762.0          36.27
6                  36              827.32               914.4          43.54

## Schedule IPSDR26

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  14              328.26               355.6          13.67
1                  16              375.16               406.4          15.62
2                  18              422.04               457.2          17.58
3                  20              468.94               508.0          19.53
4                  24              562.72               609.6          23.44
5                  30              703.38               762.0          29.31
6                  36              844.04               914.4          35.18

## Schedule IPSDR325

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  14              333.76               355.6          10.92
1                  16              381.40               406.4          12.50
2                  18              429.06               457.2          14.07
3                  20              476.76               508.0          15.62
4                  24              572.10               609.6          18.75
5                  30              715.12               762.0          23.44
6                  36              858.12               914.4          28.14

## Schedule IPSDR41

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  14              338.28               355.6           8.66
1                  16              386.58               406.4           9.91
2                  18              434.90               457.2          11.15
3                  20              483.20               508.0          12.40
4                  24              579.88               609.6          14.86
5                  30              724.82               762.0          18.59
6                  36              869.80               914.4          22.30

## Schedule PS115F679

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  18            440.9186            475.0054        17.0434
1                  21            519.8110            559.9938        20.0914
2                  24            584.8350            629.9962        22.5806
3                  27            659.1046            710.0062        25.4508
4                  30            754.4816            812.8000        29.1592
5                  36            903.0716            972.8200        34.8742
6                  42           1049.2232           1130.3000        40.5384
7                  48           1197.7624           1290.3200        46.2788
8                  54           1357.1728           1462.0240        52.4256
9                  60           1452.6260           1564.8940        56.1340

## Schedule PS75F679

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  18            445.3382            475.0054        14.8336
1                  21            524.9926            559.9938        17.5006
2                  24            590.6262            629.9962        19.6850
3                  27            665.6070            710.0062        22.1996
4                  30            762.0000            812.8000        25.4000
5                  36            912.0124            972.8200        30.4038
6                  42           1059.6372           1130.3000        35.3314
7                  48           1209.6496           1290.3200        40.3352
8                  54           1370.6348           1462.0240        45.6946
9                  60           1467.0532           1564.8940        48.9204

## Schedule PS46F679

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  18            449.6562            475.0054        12.6746
1                  21            530.1234            559.9938        14.9352
2                  24            596.4174            629.9962        16.7894
3                  27            672.1602            710.0062        18.9230
4                  30            769.4676            812.8000        21.6662
5                  36            920.9532            972.8200        25.9334
6                  42           1070.0004           1130.3000        30.1498
7                  48           1221.4860           1290.3200        34.4170
8                  54           1384.0460           1462.0240        38.9890
9                  60           1481.4296           1564.8940        41.7322

## Schedule PVCD2665

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 1.25             35.0520              42.164         3.5560
1                 1.50             40.8940              48.260         3.6830
2                 2.00             52.5018              60.325         3.9116
3                 3.00             77.9272              88.900         5.4864
4                 4.00            102.2604             114.300         6.0198
5                 6.00            154.0510             168.275         7.1120
6                 8.00            202.7174             219.075         8.1788
7                10.00            254.5080             273.050         9.2710
8                12.00            303.2252             323.850        10.3124
9                14.00            333.7560             355.600        10.9220
10               16.00            381.0000             406.400        12.7000
11               18.00            428.6504             457.200        14.2748
12               20.00            477.8756             508.000        15.0622
13               24.00            574.7004             609.600        17.4498

## Schedule 40D1785

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125              6.8326             10.2870         1.7272
1                0.250              9.2456             13.7160         2.2352
2                0.375             12.5222             17.1450         2.3114
3                0.500             15.7988             21.3360         2.7686
4                0.750             20.9296             26.6700         2.8702
5                1.000             26.6446             33.4010         3.3782
6                1.250             35.0520             42.1640         3.5560
7                1.500             40.8940             48.2600         3.6830
8                2.000             52.5018             60.3250         3.9116
9                2.500             62.7126             73.0250         5.1562
10               3.000             77.9272             88.9000         5.4864
11               3.500             90.1192            101.6000         5.7404
12               4.000            102.2604            114.3000         6.0198
13               5.000            128.1938            141.3002         6.5532
14               6.000            154.0510            168.2750         7.1120
15               8.000            202.7174            219.0750         8.1788
16              10.000            254.5080            273.0500         9.2710
17              12.000            303.2252            323.8500        10.3124
18              14.000            333.4004            355.6000        11.0998
19              16.000            381.0000            406.4000        12.7000
20              18.000            428.6504            457.2000        14.2748
21              20.000            477.8756            508.0000        15.0622
22              24.000            574.7004            609.6000        17.4498

## Schedule 80D1785

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125              5.4610             10.2870         2.4130
1                0.250              7.6708             13.7160         3.0226
2                0.375             10.7442             17.1450         3.2004
3                0.500             13.8684             21.3360         3.7338
4                0.750             18.8468             26.6700         3.9116
5                1.000             24.3078             33.4010         4.5466
6                1.250             32.4612             42.1640         4.8514
7                1.500             38.1000             48.2600         5.0800
8                2.000             49.2506             60.3250         5.5372
9                2.500             59.0042             73.0250         7.0104
10               3.000             73.6600             88.9000         7.6200
11               3.500             85.4456            101.6000         8.0772
12               4.000             97.1804            114.3000         8.5598
13               5.000            122.2502            141.3002         9.5250
14               6.000            146.3294            168.2750        10.9728
15               8.000            193.6750            219.0750        12.7000
16              10.000            242.9256            273.0500        15.0622
17              12.000            288.9504            323.8500        17.4498
18              14.000            317.5000            355.6000        19.0500
19              16.000            363.5756            406.4000        21.4122
20              18.000            409.6004            457.2000        23.7998
21              20.000            455.6252            508.0000        26.1874
22              24.000            547.7256            609.6000        30.9372

## Schedule 120D1785

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50             12.7000             21.3360         4.3180
1                 0.75             18.0340             26.6700         4.3180
2                 1.00             23.2410             33.4010         5.0800
3                 1.25             31.2420             42.1640         5.4610
4                 1.50             36.8300             48.2600         5.7150
5                 2.00             47.6250             60.3250         6.3500
6                 2.50             57.7850             73.0250         7.6200
7                 3.00             71.1200             88.9000         8.8900
8                 3.50             83.8200            101.6000         8.8900
9                 4.00             92.1004            114.3000        11.0998
10                5.00            115.9002            141.3002        12.7000
11                6.00            139.7254            168.2750        14.2748
12                8.00            182.6006            219.0750        18.2372
13               10.00            230.2256            273.0500        21.4122
14               12.00            273.0500            323.8500        25.4000

## Schedule DR135D2241

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.125              7.2390             10.2870         1.5240
1                0.250             10.6680             13.7160         1.5240
2                0.375             14.0970             17.1450         1.5240
3                0.500             18.1864             21.3360         1.5748
4                0.750             22.7076             26.6700         1.9812
5                1.000             28.4734             33.4010         2.4638
6                1.250             35.9156             42.1640         3.1242
7                1.500             41.0972             48.2600         3.5814
8                2.000             51.3842             60.3250         4.4704
9                2.500             62.2046             73.0250         5.4102
10               3.000             75.7428             88.9000         6.5786
11               3.500             86.5632            101.6000         7.5184
12               4.000             97.3836            114.3000         8.4582
13               5.000            120.3706            141.3002        10.4648
14               6.000            143.3322            168.2750        12.4714

## Schedule DR17D2241

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.75             23.5204             26.6700         1.5748
1                 1.00             29.4894             33.4010         1.9558
2                 1.25             37.1856             42.1640         2.4892
3                 1.50             42.5704             48.2600         2.8448
4                 2.00             53.2130             60.3250         3.5560
5                 2.50             64.4398             73.0250         4.2926
6                 3.00             78.4352             88.9000         5.2324
7                 3.50             89.6620            101.6000         5.9690
8                 4.00            100.8380            114.3000         6.7310
9                 5.00            124.6886            141.3002         8.3058
10                6.00            148.4630            168.2750         9.9060
11                8.00            193.2686            219.0750        12.9032
12               10.00            240.9444            273.0500        16.0528
13               12.00            285.7500            323.8500        19.0500
14               14.00            313.7916            355.6000        20.9042
15               16.00            358.5972            406.4000        23.9014
16               18.00            403.4028            457.2000        26.8986
17               20.00            448.2592            508.0000        29.8704
18               24.00            537.8704            609.6000        35.8648
19               30.00            672.3380            762.0000        44.8310
20               36.00            806.8056            914.4000        53.7972

## Schedule DR21D2241

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.75             23.6220             26.6700         1.5240
1                 1.00             30.2006             33.4010         1.6002
2                 1.25             38.1508             42.1640         2.0066
3                 1.50             43.6880             48.2600         2.2860
4                 2.00             54.5846             60.3250         2.8702
5                 2.50             66.0654             73.0250         3.4798
6                 3.00             80.4164             88.9000         4.2418
7                 3.50             91.9480            101.6000         4.8260
8                 4.00            103.4288            114.3000         5.4356
9                 5.00            127.8382            141.3002         6.7310
10                6.00            152.2222            168.2750         8.0264
11                8.00            198.2470            219.0750        10.4140
12               10.00            247.0912            273.0500        12.9794
13               12.00            293.0652            323.8500        15.3924
14               14.00            321.7672            355.6000        16.9164
15               16.00            367.6904            406.4000        19.3548
16               18.00            413.6644            457.2000        21.7678
17               20.00            459.6384            508.0000        24.1808
18               24.00            551.5356            609.6000        29.0322
19               30.00            689.4576            762.0000        36.2712
20               36.00            827.3288            914.4000        43.5356

## Schedule DR26D2241

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 1.00             30.3530             33.4010         1.5240
1                 1.25             38.9128             42.1640         1.6256
2                 1.50             44.5516             48.2600         1.8542
3                 2.00             55.7022             60.3250         2.3114
4                 2.50             67.4370             73.0250         2.7940
5                 3.00             82.0420             88.9000         3.4290
6                 3.50             93.7768            101.6000         3.9116
7                 4.00            105.5116            114.3000         4.3942
8                 5.00            130.4290            141.3002         5.4356
9                 6.00            155.3210            168.2750         6.4770
10                8.00            202.2094            219.0750         8.4328
11               10.00            252.0696            273.0500        10.4902
12               12.00            298.9580            323.8500        12.4460
13               14.00            328.2696            355.6000        13.6652
14               16.00            375.1580            406.4000        15.6210
15               18.00            422.0464            457.2000        17.5768
16               20.00            468.9348            508.0000        19.5326
17               24.00            562.7116            609.6000        23.4442
18               30.00            703.3768            762.0000        29.3116
19               36.00            844.0420            914.4000        35.1790

## Schedule DR325D2241

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 1.25             39.1160             42.1640         1.5240
1                 1.50             45.2120             48.2600         1.5240
2                 2.00             56.6166             60.3250         1.8542
3                 2.50             68.5546             73.0250         2.2352
4                 3.00             83.4136             88.9000         2.7432
5                 3.50             95.3516            101.6000         3.1242
6                 4.00            107.2896            114.3000         3.5052
7                 5.00            132.6134            141.3002         4.3434
8                 6.00            157.9118            168.2750         5.1816
9                 8.00            205.6130            219.0750         6.7310
10               10.00            256.2352            273.0500         8.4074
11               12.00            303.9364            323.8500         9.9568
12               14.00            333.7560            355.6000        10.9220
13               16.00            381.4064            406.4000        12.4968
14               18.00            429.0568            457.2000        14.0716
15               20.00            476.7580            508.0000        15.6210
16               24.00            572.1096            609.6000        18.7452
17               30.00            715.1116            762.0000        23.4442
18               36.00            858.1136            914.4000        28.1432

## Schedule DR41D2241

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  3.0             84.5820             88.9000         2.1590
1                  3.5             96.6216            101.6000         2.4892
2                  4.0            108.7120            114.3000         2.7940
3                  5.0            134.3914            141.3002         3.4544
4                  6.0            160.0454            168.2750         4.1148
5                  8.0            208.4070            219.0750         5.3340
6                 10.0            259.7404            273.0500         6.6548
7                 12.0            308.0512            323.8500         7.8994
8                 14.0            338.2772            355.6000         8.6614
9                 16.0            386.5880            406.4000         9.9060
10                18.0            434.8988            457.2000        11.1506
11                20.0            483.2096            508.0000        12.3952
12                24.0            579.8820            609.6000        14.8590
13                30.0            724.8144            762.0000        18.5928
14                36.0            869.7976            914.4000        22.3012

## Schedule DR64D2241

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   4            110.7440            114.3000         1.7780
1                   5            136.8806            141.3002         2.2098
2                   6            162.9918            168.2750         2.6416
3                   8            212.2170            219.0750         3.4290
4                  10            264.5156            273.0500         4.2672
5                  12            313.7408            323.8500         5.0546

## Schedule DR21D2241CTS

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                1.00             25.5270              28.575         1.5240
1                1.25             31.6230              34.925         1.6510
2                1.50             37.3634              41.275         1.9558
3                2.00             48.8442              53.975         2.5654

## Schedule DR17D2241CTS

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.75             19.1770              22.225         1.5240
1                1.00             25.2222              28.575         1.6764
2                1.25             30.8102              34.925         2.0574
3                1.50             36.3982              41.275         2.4384
4                2.00             47.6250              53.975         3.1750

## Schedule DR135D2241CTS

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.50             12.8270              15.875         1.5240
1                0.75             18.9230              22.225         1.6510
2                1.00             24.3586              28.575         2.1082
3                1.25             29.7434              34.925         2.5908
4                1.50             35.1790              41.275         3.0480
5                2.00             45.9994              53.975         3.9878

## Schedule DR11D2241CTS

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.50             12.8270              15.875         1.5240
1                0.75             18.1610              22.225         2.0320
2                1.00             23.3934              28.575         2.5908
3                1.25             28.5750              34.925         3.1750
4                1.50             33.7566              41.275         3.7592
5                2.00             44.1706              53.975         4.9022

## Schedule DR21D2241PIP

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  15            351.6376              388.62        18.4912

## Schedule DR26D2241PIP

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  15            358.7496            388.6200        14.9352
1                  18            438.4802            475.0054        18.2626
2                  21            516.9154            559.9938        21.5392
3                  24            581.5330            629.9962        24.2316
4                  27            655.3962            710.0062        27.3050

## Schedule DR325D2241PIP

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   6            146.3548            155.9560         4.8006
1                   8            194.5132            207.2640         6.3754
2                  10            243.1288            259.0800         7.9756
3                  12            291.7444            310.8960         9.5758
4                  15            364.6932            388.6200        11.9634
5                  18            445.7954            475.0054        14.6050
6                  21            525.5514            559.9938        17.2212
7                  24            591.2358            629.9962        19.3802
8                  27            666.3182            710.0062        21.8440

## Schedule DR35D2241PIP

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  15            366.4204            388.6200        11.0998
1                  18            447.8782            475.0054        13.5636
2                  21            527.9898            559.9938        16.0020
3                  24            593.9790            629.9962        18.0086
4                  27            669.4170            710.0062        20.2946

## Schedule DR41D2241PIP

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   6            148.3360            155.9560         3.8100
1                   8            197.1548            207.2640         5.0546
2                  10            246.4308            259.0800         6.3246
3                  12            295.7068            310.8960         7.5946
4                  15            369.6716            388.6200         9.4742
5                  18            451.8406            475.0054        11.5824
6                  21            532.6634            559.9938        13.6652
7                  24            599.2622            629.9962        15.3670
8                  27            675.3606            710.0062        17.3228

## Schedule DR51D2241PIP

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   6            149.8600            155.9560         3.0480
1                   8            199.1360            207.2640         4.0640
2                  10            248.9200            259.0800         5.0800
3                  12            298.7040            310.8960         6.0960
4                  15            373.3800            388.6200         7.6200
5                  18            456.4126            475.0054         9.2964
6                  21            538.0482            559.9938        10.9728
7                  24            605.3074            629.9962        12.3444
8                  27            682.1678            710.0062        13.9192

## Schedule DR81D2241PIP

   NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                   6            152.0952             155.956         1.9304
1                   8            202.1332             207.264         2.5654
2                  10            252.6792             259.080         3.2004
3                  12            303.2252             310.896         3.8354
4                  15            379.0188             388.620         4.8006

## Schedule S40F441IPS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.250              9.2456             13.7160         2.2352
1                0.375             12.5222             17.1450         2.3114
2                0.500             15.7988             21.3360         2.7686
3                0.750             20.9296             26.6700         2.8702
4                1.000             26.6446             33.4010         3.3782
5                1.250             35.0520             42.1640         3.5560
6                1.500             40.8940             48.2600         3.6830
7                2.000             52.5018             60.3250         3.9116
8                2.500             62.7126             73.0250         5.1562
9                3.000             77.9272             88.9000         5.4864
10               3.500             90.1192            101.6000         5.7404
11               4.000            102.2604            114.3000         6.0198
12               5.000            128.1938            141.3002         6.5532
13               6.000            154.0510            168.2750         7.1120
14               8.000            202.7174            219.0750         8.1788
15              10.000            254.5080            273.0500         9.2710
16              12.000            303.2252            323.8500        10.3124
17              14.000            333.4004            355.6000        11.0998
18              16.000            381.0000            406.4000        12.7000

## Schedule S80F441IPS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                0.250              7.6708             13.7160         3.0226
1                0.375             10.7442             17.1450         3.2004
2                0.500             13.8684             21.3360         3.7338
3                0.750             18.8468             26.6700         3.9116
4                1.000             24.3078             33.4010         4.5466
5                1.250             32.4612             42.1640         4.8514
6                1.500             38.1000             48.2600         5.0800
7                2.000             49.2506             60.3250         5.5372
8                2.500             59.0042             73.0250         7.0104
9                3.000             73.6600             88.9000         7.6200
10               3.500             85.4456            101.6000         8.0772
11               4.000             97.1804            114.3000         8.5598
12               5.000            122.2502            141.3002         9.5250
13               6.000            146.3294            168.2750        10.9728
14               8.000            193.6750            219.0750        12.7000
15              10.000            242.9256            273.0500        15.0622
16              12.000            288.9504            323.8500        17.4498
17              14.000            317.5000            355.6000        19.0500
18              16.000            363.5756            406.4000        21.4122

## Schedule S40F441SI

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                    8                9.22                13.7           2.24
1                   10               12.48                17.1           2.31
2                   15               15.76                21.3           2.77
3                   20               20.96                26.7           2.87
4                   25               26.64                33.4           3.38
5                   32               35.08                42.2           3.56
6                   40               40.94                48.3           3.68
7                   50               52.48                60.3           3.91
8                   65               62.68                73.0           5.16
9                   80               77.92                88.9           5.49
10                  90               90.12               101.6           5.74
11                 100              102.26               114.3           6.02
12                 125              128.20               141.3           6.55
13                 150              154.08               168.3           7.11
14                 200              202.74               219.1           8.18
15                 250              254.56               273.1           9.27
16                 300              303.28               323.9          10.31
17                 350              333.40               355.6          11.10
18                 400              381.00               406.4          12.70

## Schedule S80F441SI

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                    8                7.66                13.7           3.02
1                   10               10.70                17.1           3.20
2                   15               13.84                21.3           3.73
3                   20               18.88                26.7           3.91
4                   25               24.30                33.4           4.55
5                   32               32.50                42.2           4.85
6                   40               38.14                48.3           5.08
7                   50               49.22                60.3           5.54
8                   65               58.98                73.0           7.01
9                   80               73.66                88.9           7.62
10                  90               85.44               101.6           8.08
11                 100               97.18               114.3           8.56
12                 125              122.26               141.3           9.52
13                 150              146.36               168.3          10.97
14                 200              193.70               219.1          12.70
15                 250              242.98               273.1          15.06
16                 300              289.00               323.9          17.45
17                 350              317.50               355.6          19.05
18                 400              364.12               406.4          21.14

## Schedule DR325F2619SI

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                    4              107.28              114.30           3.51
1                    5              132.60              141.30           4.35
2                    6              157.92              168.28           5.18
3                    8              205.62              219.08           6.73
4                   10              256.23              273.05           8.41
5                   12              303.93              323.85           9.96
6                   14              333.70              355.60          10.95
7                   16              381.40              406.40          12.50
8                   18              429.06              457.20          14.07
9                   20              476.76              508.00          15.62
10                  22              524.40              558.80          17.20
11                  24              572.10              609.60          18.75
12                  26              619.76              660.40          20.32
13                  28              667.42              711.20          21.89
14                  30              715.12              762.00          23.44
15                  32              762.76              812.80          25.02
16                  34              810.46              863.60          26.57
17                  36              858.12              914.40          28.14
18                  42             1001.16             1066.80          32.82
19                  48             1144.16             1219.20          37.52
20                  54             1287.18             1371.60          42.21
21                  63             1501.76             1600.20          49.22
22                  65             1549.40             1651.00          50.80

## Schedule DR26F2619SI

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                    4              105.52              114.30           4.39
1                    5              130.44              141.30           5.43
2                    6              155.32              168.28           6.48
3                    8              202.22              219.08           8.43
4                   10              252.07              273.05          10.49
5                   12              298.95              323.85          12.45
6                   14              328.26              355.60          13.67
7                   16              375.16              406.40          15.62
8                   18              422.04              457.20          17.58
9                   20              467.56              508.00          20.22
10                  22              515.82              558.80          21.49
11                  24              562.72              609.60          23.44
12                  26              609.60              660.40          25.40
13                  28              656.48              711.20          27.36
14                  30              703.38              762.00          29.31
15                  32              750.26              812.80          31.27
16                  34              797.16              863.60          33.22
17                  36              844.04              914.40          35.18
18                  42              984.76             1066.80          41.02
19                  48             1125.42             1219.20          46.89
20                  54             1266.08             1371.60          52.76
21                  63             1477.10             1600.20          61.55
22                  65             1524.00             1651.00          63.50

## Schedule DR21F2619SI

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  2.5               66.07               73.03           3.48
1                  3.0               80.42               88.90           4.24
2                  4.0              103.42              114.30           5.44
3                  5.0              127.84              141.30           6.73
4                  6.0              152.28              168.28           8.00
5                  8.0              198.20              219.08          10.44
6                 10.0              247.05              273.05          13.00
7                 12.0              293.01              323.85          15.42
8                 14.0              321.72              355.60          16.94
9                 16.0              367.70              406.40          19.35
10                18.0              413.66              457.20          21.77
11                20.0              459.64              508.00          24.18
12                22.0              505.56              558.80          26.62
13                24.0              551.54              609.60          29.03
14                26.0              597.50              660.40          31.45
15                28.0              643.48              711.20          33.86
16                30.0              689.40              762.00          36.30
17                32.0              735.38              812.80          38.71
18                34.0              781.36              863.60          41.12
19                36.0              827.32              914.40          43.54
20                42.0              965.20             1066.80          50.80
21                48.0             1103.08             1219.20          58.06
22                54.0             1241.00             1371.60          65.30
23                63.0             1447.80             1600.20          76.20
24                65.0             1493.78             1651.00          78.61

## Schedule DR17F2619SI

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  2.0               53.21               60.33           3.56
1                  2.5               64.45               73.03           4.29
2                  3.0               78.44               88.90           5.23
3                  4.0              100.84              114.30           6.73
4                  5.0              124.68              141.30           8.31
5                  6.0              148.46              168.28           9.91
6                  8.0              193.32              219.08          12.88
7                 10.0              240.95              273.05          16.05
8                 12.0              285.75              323.85          19.05
9                 14.0              313.74              355.60          20.93
10                16.0              358.60              406.40          23.90
11                18.0              403.40              457.20          26.90
12                20.0              448.26              508.00          29.87
13                22.0              493.06              558.80          32.87
14                24.0              537.88              609.60          35.86
15                26.0              582.72              660.40          38.84
16                28.0              627.54              711.20          41.83
17                30.0              672.34              762.00          44.83
18                32.0              717.20              812.80          47.80
19                34.0              762.00              863.60          50.80
20                36.0              806.80              914.40          53.80
21                42.0              941.28             1066.80          62.76
22                48.0             1075.74             1219.20          71.73
23                54.0             1210.26             1371.60          80.67

## Schedule DR135F2619SI

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50               18.18               21.34           1.58
1                 0.75               22.71               26.67           1.98
2                 1.00               28.48               33.40           2.46
3                 1.25               35.92               42.16           3.12
4                 1.50               41.10               48.26           3.58
5                 2.00               51.39               60.33           4.47
6                 2.50               62.21               73.03           5.41
7                 3.00               75.74               88.90           6.58
8                 4.00               97.38              114.30           8.46
9                 5.00              120.36              141.30          10.47
10                6.00              143.34              168.28          12.47
11                8.00              186.62              219.08          16.23
12               10.00              232.61              273.05          20.22
13               12.00              275.89              323.85          23.98
14               14.00              302.92              355.60          26.34
15               16.00              346.20              406.40          30.10
16               18.00              389.48              457.20          33.86
17               20.00              432.76              508.00          37.62
18               22.00              476.00              558.80          41.40
19               24.00              519.28              609.60          45.16
20               26.00              562.56              660.40          48.92
21               28.00              605.84              711.20          52.68
22               30.00              649.12              762.00          56.44
23               32.00              692.40              812.80          60.20
24               34.00              735.64              863.60          63.98
25               36.00              778.92              914.40          67.74
26               42.00              908.76             1066.80          79.02

## Schedule DR11F2619SI

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50               17.48               21.34           1.93
1                 0.75               21.85               26.67           2.41
2                 1.00               27.30               33.40           3.05
3                 1.25               34.48               42.16           3.84
4                 1.50               39.48               48.26           4.39
5                 2.00               49.35               60.33           5.49
6                 2.50               59.77               73.03           6.63
7                 3.00               72.74               88.90           8.08
8                 4.00               93.52              114.30          10.39
9                 5.00              115.60              141.30          12.85
10                6.00              137.70              168.28          15.29
11                8.00              179.26              219.08          19.91
12               10.00              223.41              273.05          24.82
13               12.00              264.97              323.85          29.44
14               14.00              290.94              355.60          32.33
15               16.00              332.48              406.40          36.96
16               18.00              374.10              457.20          41.55
17               20.00              415.64              508.00          46.18
18               22.00              457.20              558.80          50.80
19               24.00              498.76              609.60          55.42
20               26.00              540.30              660.40          60.05
21               28.00              586.74              711.20          62.23
22               30.00              623.46              762.00          69.27
23               32.00              665.02              812.80          73.89
24               34.00              706.58              863.60          78.51
25               36.00              748.14              914.40          83.13

## Schedule DR9F2619SI

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50               16.62               21.34           2.36
1                 0.75               20.73               26.67           2.97
2                 1.00               25.98               33.40           3.71
3                 1.25               32.82               42.16           4.67
4                 1.50               37.54               48.26           5.36
5                 2.00               46.91               60.33           6.71
6                 2.50               56.83               73.03           8.10
7                 3.00               69.14               88.90           9.88
8                 4.00               88.90              114.30          12.70
9                 5.00              109.90              141.30          15.70
10                6.00              130.90              168.28          18.69
11                8.00              170.42              219.08          24.33
12               10.00              212.39              273.05          30.33
13               12.00              251.87              323.85          35.99
14               14.00              276.56              355.60          39.52
15               16.00              316.08              406.40          45.16
16               18.00              355.60              457.20          50.80
17               20.00              395.12              508.00          56.44
18               22.00              434.64              558.80          62.08
19               24.00              474.12              609.60          67.74
20               26.00              513.64              660.40          73.38
21               28.00              553.16              711.20          79.02
22               30.00              592.68              762.00          84.66

## Schedule DR73F2619SI

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50               15.50               21.34           2.92
1                 0.75               19.35               26.67           3.66
2                 1.00               24.26               33.40           4.57
3                 1.25               30.62               42.16           5.77
4                 1.50               35.06               48.26           6.60
5                 2.00               43.81               60.33           8.26
6                 2.50               53.03               73.03          10.00
7                 3.00               64.56               88.90          12.17
8                 4.00               83.00              114.30          15.65
9                 5.00              102.58              141.30          19.36
10                6.00              122.16              168.28          23.06
11                8.00              159.04              219.08          30.02
12               10.00              198.23              273.05          37.41
13               12.00              235.11              323.85          44.37
14               14.00              258.16              355.60          48.72
15               16.00              295.04              406.40          55.68
16               18.00              331.92              457.20          62.64
17               20.00              368.80              508.00          69.60
18               22.00              405.68              558.80          76.56
19               24.00              442.56              609.60          83.52

## Schedule DR7F2619SI

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50               15.24               21.34           3.05
1                 0.75               19.05               26.67           3.81
2                 1.00               23.84               33.40           4.78
3                 1.25               30.12               42.16           6.02
4                 1.50               34.50               48.26           6.88
5                 2.00               43.11               60.33           8.61
6                 2.50               52.17               73.03          10.43
7                 3.00               63.50               88.90          12.70
8                 4.00               81.64              114.30          16.33
9                 5.00              100.92              141.30          20.19
10                6.00              120.22              168.28          24.03
11                8.00              156.50              219.08          31.29
12               10.00              195.03              273.05          39.01
13               12.00              231.35              323.85          46.25
14               14.00              254.00              355.60          50.80
15               16.00              290.28              406.40          58.06
16               18.00              326.60              457.20          65.30
17               20.00              362.86              508.00          72.57
18               22.00              399.14              558.80          79.83
19               24.00              435.40              609.60          87.10

## Schedule DR325F2619IPS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                    4            107.2896            114.3000         3.5052
1                    5            132.6134            141.3002         4.3434
2                    6            157.9118            168.2750         5.1816
3                    8            205.6130            219.0750         6.7310
4                   10            256.2352            273.0500         8.4074
5                   12            303.9364            323.8500         9.9568
6                   14            333.7052            355.6000        10.9474
7                   16            381.4064            406.4000        12.4968
8                   18            429.0568            457.2000        14.0716
9                   20            476.7580            508.0000        15.6210
10                  22            524.4084            558.8000        17.1958
11                  24            572.1096            609.6000        18.7452
12                  26            619.7600            660.4000        20.3200
13                  28            667.4104            711.2000        21.8948
14                  30            715.1116            762.0000        23.4442
15                  32            762.7620            812.8000        25.0190
16                  34            810.4632            863.6000        26.5684
17                  36            858.1136            914.4000        28.1432
18                  42           1001.1664           1066.8000        32.8168
19                  48           1144.1684           1219.2000        37.5158
20                  54           1287.1704           1371.6000        42.2148
21                  63           1501.7496           1600.2000        49.2252
22                  65           1549.4000           1651.0000        50.8000

## Schedule DR26F2619IPS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                    4            105.5116            114.3000         4.3942
1                    5            130.4290            141.3002         5.4356
2                    6            155.3210            168.2750         6.4770
3                    8            202.2094            219.0750         8.4328
4                   10            252.0696            273.0500        10.4902
5                   12            298.9580            323.8500        12.4460
6                   14            328.2696            355.6000        13.6652
7                   16            375.1580            406.4000        15.6210
8                   18            422.0464            457.2000        17.5768
9                   20            468.9348            508.0000        19.5326
10                  22            515.8232            558.8000        21.4884
11                  24            562.7116            609.6000        23.4442
12                  26            609.6000            660.4000        25.4000
13                  28            656.4884            711.2000        27.3558
14                  30            703.3768            762.0000        29.3116
15                  32            750.2652            812.8000        31.2674
16                  34            797.1536            863.6000        33.2232
17                  36            844.0420            914.4000        35.1790
18                  42            984.7580           1066.8000        41.0210
19                  48           1125.4232           1219.2000        46.8884
20                  54           1266.0884           1371.6000        52.7558
21                  63           1477.1116           1600.2000        61.5442
22                  65           1524.0000           1651.0000        63.5000

## Schedule DR21F2619IPS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  2.5             66.0654             73.0250         3.4798
1                  3.0             80.4164             88.9000         4.2418
2                  4.0            103.4288            114.3000         5.4356
3                  5.0            127.8382            141.3002         6.7310
4                  6.0            152.2730            168.2750         8.0010
5                  8.0            198.1962            219.0750        10.4394
6                 10.0            247.0404            273.0500        13.0048
7                 12.0            293.0144            323.8500        15.4178
8                 14.0            321.7164            355.6000        16.9418
9                 16.0            367.6904            406.4000        19.3548
10                18.0            413.6644            457.2000        21.7678
11                20.0            459.6384            508.0000        24.1808
12                22.0            505.5616            558.8000        26.6192
13                24.0            551.5356            609.6000        29.0322
14                26.0            597.5096            660.4000        31.4452
15                28.0            643.4836            711.2000        33.8582
16                30.0            689.4068            762.0000        36.2966
17                32.0            735.3808            812.8000        38.7096
18                34.0            781.3548            863.6000        41.1226
19                36.0            827.3288            914.4000        43.5356
20                42.0            965.2000           1066.8000        50.8000
21                48.0           1103.0712           1219.2000        58.0644
22                54.0           1240.9932           1371.6000        65.3034
23                63.0           1447.8000           1600.2000        76.2000
24                65.0           1493.7740           1651.0000        78.6130

## Schedule DR17F2619IPS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                  2.0             53.2130             60.3250         3.5560
1                  2.5             64.4398             73.0250         4.2926
2                  3.0             78.4352             88.9000         5.2324
3                  4.0            100.8380            114.3000         6.7310
4                  5.0            124.6886            141.3002         8.3058
5                  6.0            148.4630            168.2750         9.9060
6                  8.0            193.3194            219.0750        12.8778
7                 10.0            240.9444            273.0500        16.0528
8                 12.0            285.7500            323.8500        19.0500
9                 14.0            313.7408            355.6000        20.9296
10                16.0            358.5972            406.4000        23.9014
11                18.0            403.4028            457.2000        26.8986
12                20.0            448.2592            508.0000        29.8704
13                22.0            493.0648            558.8000        32.8676
14                24.0            537.8704            609.6000        35.8648
15                26.0            582.7268            660.4000        38.8366
16                28.0            627.5324            711.2000        41.8338
17                30.0            672.3380            762.0000        44.8310
18                32.0            717.1944            812.8000        47.8028
19                34.0            762.0000            863.6000        50.8000
20                36.0            806.8056            914.4000        53.7972
21                42.0            941.2732           1066.8000        62.7634
22                48.0           1075.7408           1219.2000        71.7296
23                54.0           1210.2592           1371.6000        80.6704

## Schedule DR135F2619IPS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50             18.1864             21.3360         1.5748
1                 0.75             22.7076             26.6700         1.9812
2                 1.00             28.4734             33.4010         2.4638
3                 1.25             35.9156             42.1640         3.1242
4                 1.50             41.0972             48.2600         3.5814
5                 2.00             51.3842             60.3250         4.4704
6                 2.50             62.2046             73.0250         5.4102
7                 3.00             75.7428             88.9000         6.5786
8                 4.00             97.3836            114.3000         8.4582
9                 5.00            120.3706            141.3002        10.4648
10                6.00            143.3322            168.2750        12.4714
11                8.00            186.6138            219.0750        16.2306
12               10.00            232.6132            273.0500        20.2184
13               12.00            275.8948            323.8500        23.9776
14               14.00            302.9204            355.6000        26.3398
15               16.00            346.2020            406.4000        30.0990
16               18.00            389.4836            457.2000        33.8582
17               20.00            432.7652            508.0000        37.6174
18               22.00            475.9960            558.8000        41.4020
19               24.00            519.2776            609.6000        45.1612
20               26.00            562.5592            660.4000        48.9204
21               28.00            605.8408            711.2000        52.6796
22               30.00            649.1224            762.0000        56.4388
23               32.00            692.4040            812.8000        60.1980
24               34.00            735.6348            863.6000        63.9826
25               36.00            778.9164            914.4000        67.7418
26               42.00            908.7612           1066.8000        79.0194

## Schedule DR11F2619IPS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50             17.4752             21.3360         1.9304
1                 0.75             21.8440             26.6700         2.4130
2                 1.00             27.3050             33.4010         3.0480
3                 1.25             34.4932             42.1640         3.8354
4                 1.50             39.4716             48.2600         4.3942
5                 2.00             49.3522             60.3250         5.4864
6                 2.50             59.7662             73.0250         6.6294
7                 3.00             72.7456             88.9000         8.0772
8                 4.00             93.5228            114.3000        10.3886
9                 5.00            115.5954            141.3002        12.8524
10                6.00            137.6934            168.2750        15.2908
11                8.00            179.2478            219.0750        19.9136
12               10.00            223.4184            273.0500        24.8158
13               12.00            264.9728            323.8500        29.4386
14               14.00            290.9316            355.6000        32.3342
15               16.00            332.4860            406.4000        36.9570
16               18.00            374.0912            457.2000        41.5544
17               20.00            415.6456            508.0000        46.1772
18               22.00            457.2000            558.8000        50.8000
19               24.00            498.7544            609.6000        55.4228
20               26.00            540.3088            660.4000        60.0456
21               28.00            581.9140            711.2000        64.6430
22               30.00            623.4684            762.0000        69.2658
23               32.00            665.0228            812.8000        73.8886
24               34.00            706.5772            863.6000        78.5114
25               36.00            748.1316            914.4000        83.1342

## Schedule DR9F2619IPS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50             16.6116             21.3360         2.3622
1                 0.75             20.7264             26.6700         2.9718
2                 1.00             25.9842             33.4010         3.7084
3                 1.25             32.8168             42.1640         4.6736
4                 1.50             37.5412             48.2600         5.3594
5                 2.00             46.9138             60.3250         6.7056
6                 2.50             56.8198             73.0250         8.1026
7                 3.00             69.1388             88.9000         9.8806
8                 4.00             88.9000            114.3000        12.7000
9                 5.00            109.9058            141.3002        15.6972
10                6.00            130.8862            168.2750        18.6944
11                8.00            170.4086            219.0750        24.3332
12               10.00            212.3948            273.0500        30.3276
13               12.00            251.8664            323.8500        35.9918
14               14.00            276.5552            355.6000        39.5224
15               16.00            316.0776            406.4000        45.1612
16               18.00            355.6000            457.2000        50.8000
17               20.00            395.1224            508.0000        56.4388
18               22.00            434.6448            558.8000        62.0776
19               24.00            474.1164            609.6000        67.7418
20               26.00            513.6388            660.4000        73.3806
21               28.00            553.1612            711.2000        79.0194
22               30.00            592.6836            762.0000        84.6582

## Schedule DR73F2619IPS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50             15.4940             21.3360         2.9210
1                 0.75             19.3548             26.6700         3.6576
2                 1.00             24.2570             33.4010         4.5720
3                 1.25             30.6324             42.1640         5.7658
4                 1.50             35.0520             48.2600         6.6040
5                 2.00             43.8150             60.3250         8.2550
6                 2.50             53.0098             73.0250        10.0076
7                 3.00             64.5668             88.9000        12.1666
8                 4.00             83.0072            114.3000        15.6464
9                 5.00            102.5906            141.3002        19.3548
10                6.00            122.1486            168.2750        23.0632
11                8.00            159.0294            219.0750        30.0228
12               10.00            198.2216            273.0500        37.4142
13               12.00            235.1024            323.8500        44.3738
14               14.00            258.1656            355.6000        48.7172
15               16.00            295.0464            406.4000        55.6768
16               18.00            331.9272            457.2000        62.6364
17               20.00            368.8080            508.0000        69.5960
18               22.00            405.6888            558.8000        76.5556
19               24.00            442.5696            609.6000        83.5152

## Schedule DR7F2619IPS

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                 0.50             15.2400             21.3360         3.0480
1                 0.75             19.0500             26.6700         3.8100
2                 1.00             23.8506             33.4010         4.7752
3                 1.25             30.1244             42.1640         6.0198
4                 1.50             34.4932             48.2600         6.8834
5                 2.00             43.1038             60.3250         8.6106
6                 2.50             52.1462             73.0250        10.4394
7                 3.00             63.5000             88.9000        12.7000
8                 4.00             81.6356            114.3000        16.3322
9                 5.00            100.9142            141.3002        20.1930
10                6.00            120.2182            168.2750        24.0284
11                8.00            156.4894            219.0750        31.2928
12               10.00            195.0212            273.0500        39.0144
13               12.00            231.3432            323.8500        46.2534
14               14.00            254.0000            355.6000        50.8000
15               16.00            290.2712            406.4000        58.0644
16               18.00            326.5932            457.2000        65.3034
17               20.00            362.8644            508.0000        72.5678
18               22.00            399.1356            558.8000        79.8322
19               24.00            435.4068            609.6000        87.0966

## Schedule BS1387LIGHT

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                    8                10.0                13.6            1.8
1                   10                13.5                17.1            1.8
2                   15                17.4                21.4            2.0
3                   20                22.3                26.9            2.3
4                   25                28.6                33.8            2.6
5                   32                37.3                42.5            2.6
6                   40                42.6                48.4            2.9
7                   50                54.4                60.2            2.9
8                   65                69.6                76.0            3.2
9                   80                82.3                88.7            3.2
10                 100               106.7               113.9            3.6

## Schedule BS1387MEDIUM

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                    8                 9.3                13.9            2.3
1                   10                12.8                17.4            2.3
2                   15                16.5                21.7            2.6
3                   20                22.0                27.2            2.6
4                   25                27.8                34.2            3.2
5                   32                36.5                42.9            3.2
6                   40                42.4                48.8            3.2
7                   50                53.6                60.8            3.6
8                   65                69.4                76.6            3.6
9                   80                81.5                89.5            4.0
10                 100               105.9               114.9            4.5
11                 125               130.6               140.6            5.0
12                 150               156.1               166.1            5.0

## Schedule BS1387HEAVY

    NPS, dimensionless  Inner diameter, mm  Outer diameter, mm  Thickness, mm
0                    8                 8.1                13.9            2.9
1                   10                11.6                17.4            2.9
2                   15                15.3                21.7            3.2
3                   20                20.8                27.2            3.2
4                   25                26.2                34.2            4.0
5                   32                34.9                42.9            4.0
6                   40                40.8                48.8            4.0
7                   50                51.8                60.8            4.5
8                   65                67.6                76.6            4.5
9                   80                79.5                89.5            5.0
10                 100               104.1               114.9            5.4
11                 125               129.8               140.6            5.4
12                 150               155.3               166.1            5.4